.navBarContainer {
    display: flex;
    height: 42px;
    align-items: center;
}

.navContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 41px;
}

.gap {
    display: flex;
    align-items: center;
    gap: 32px;
}