.detailsText {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    /* gray/300 */

    color: #D1D5DB;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}