.layoutContainer {
    margin-left: 25px;
    margin-top: 25px;
}

.badgeCalloutContainer {
    margin-top: 128px;
}

.insetContainer {
    margin-left: 7px;
}

.pitchCalloutContainer {
    margin-top: 28px;
}

.descriptionCalloutContainer {
    margin-top: 20px;
    width: 470px;
}

.emailSignupContainer {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 500px;
    height: 48px;
}

@media (max-width: 950px) {
    .emailSignupContainer {
        width: 500px;
    }
}

.detailsCalloutContainer {
    margin-top: 16px;
    width: 480px;
}

.graphicsContainer {
    position: absolute;
    right: 0;
    top: 100px;
}

.graphicsContainerSmall {
    position: absolute;
    right: 0;
    top: 200px;
}