.calloutContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px 4px 4px;
    gap: 16px;

    width: 309px;
    height: 32px;

    /* black */

    background: #000000;
    border-radius: 14px;
}

.callout {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* white */

    color: #FFFFFF;
}